/node_modules
/app
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.swp
*.swo
.DS_Store
Thumbs.db
*.log
composer.lock

# Laravel Specific
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
